body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    min-width: 312px;
    min-height: 173px;
    max-width: fit-content;
    border: 1.5px solid rgba(68, 56, 202, 0.256);
    border-radius: 16px;
    margin: auto;
    margin-top: 6rem;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 138px;
    min-height: 120px;
    max-width: 238;
    gap: 1rem;
    border: inset;
    border-radius: 10px rgb(67, 56, 202);
    margin: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    margin: 1rem;
}

#quoteSpan {
    text-align: center;
    text-wrap: wrap;
    color: rgb(67, 56, 202);
    font-weight: 400;
    margin: .5rem;
    max-width: fit-content;
    padding: 1rem;
}

.card-gradient {
    background: linear-gradient(to right, rgb(37, 99, 235), rgb(67, 56, 202));
}

.btn-gradient {
    background: linear-gradient(to right, rgb(37, 99, 235), rgb(79, 70, 229));
}

#getNewQuote {
    border: 0;
    border-radius: 22px;
    min-width: 7rem;
    height: 2rem;
    border-style: outset;
    color: #ffff;
    text-align: center;
    font-size: smaller;
    padding: .5rem 1rem;
}

.icon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 16px;
    border: 1.4px solid rgba(68, 56, 202, 0.256);
    background: transparent;
    text-align: center;
}